
.header{
    background-color: #232f3e;
    display: flex;
    align-items:center;
    position:sticky;
    top: 0;
    z-index: 100;
}
.header__option {
    display: flex;
    flex-direction: column;
    margin-left:10px;
    margin-right: 10px;
}
.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__link{
    color: white;
    text-decoration: none;
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin-top:5x;
    margin-right: 20px;
    padding-left: 25px;
}
.header_search{
    display: flex;   
    flex: 1;
}
.header__searchIcon{
    background-color: #fc9701;
    padding: 5px;
    height: 22px !important;

}
.header_searchInput{
    height: 12px;
    padding:10px;
    border: none;
    width: 100%;
}


.header__optionBasket{
    justify-content: space-evenly;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.cant_Shopping{
    text-decoration: none;
    margin-left:5px ;
    margin-right: 25px;
}

.header__checkout{
    text-decoration: none;
}